@charset "UTF-8";
/* CSS Document */

body {
	background-color: #f2f2f2;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

.wrapper {
	width: 100%;
	background-color: #f2f2f2;
}

.wrapper-two {
	width: 100%;
	background-color: white;
}

.wrapper-three {
	width: 100%;
	background-color: #f2f2f2;
}

h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 20px;
}

h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

.img {
	display: block;
	margin: 0 auto;
	width: 90%;
}

ul.navigation {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	list-style: none;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.navigation li {
	background: white;
	padding: 15px;
	margin: 12px;
}

.navigation a {
	display: block;
}

.profile-photo {
	display: block;
	margin: 0 auto;
	width: 70%;
}

.footer {
	width: 100%;
	border-top: 1px solid #000;
}

.studentfooter {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: left;
	padding: 20px 0 20px 0;
	font-size: 12px;
}

.backfooter {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: right;
	padding: 20px 0 20px 0;
	font-size: 12px;
}

.footer-navigation {
	display: none;
}

@media screen and (min-width: 768px) {
	h1 {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: center;
		font-size: 16px;
	}
	
	ul.navigation {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		list-style: none;
	}
	
	.navigation li {
		background-color: #f2f2f2;
		padding: 0 10px 0 10px;
		display: inline;
		font-size: 13px;
	}
	
	.navigation a {
		display: inline;
}
	
	.intro-text {
		background-color: #f2f2f2;
		padding: 0 0 0 20px;
		width: 40%;
		float: left;
		text-align: left;
	}
	
	.profile-photo {
		float: right;
		width: 50%;
		margin: 20px 20px 10px 15px;
	}
	
	.col {
		width: 50%;
		float: left;
		background-color: white;
	}	
	
	.img-six p,
	.img-five p {
		min-height: 53px;
		background-color: white;
	}
	
	.wrapper-two {
		clear: both;
		height: 900px;
	}
	
	.wrapper-three {
		clear: both;
		padding-top: 10px;
	}
	
	.backfooter {
		display: none;
	}
	
	.studentfooter {
		padding-top: 20px;
	}
	
	ul.footer-navigation {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 12px;
		list-style: none;
		float: right;
		display: inline;
		margin-top: 0px;
		padding-top: 20px;
	}
	
	.footer-navigation li {
		display: inline;
		padding: 0 5px 0 5px;
	}
	
}

@media screen and (min-width: 1024px) {
	h1 {
		text-align: left;
		padding: 20px 20px;
	}
	
	ul.navigation {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		list-style: none;
		text-align: right;
		margin-top: -40px;
	}
	
	.navigation a {
		display: inline;
	}
	
	.intro-text {
		width: 50%;
		font-size: 20px;	
	}
	
	.profile-photo {
		width: 40%;
	}
	
	.col {
		width: 30%;
		float: left;
	}
	
	.img-box-one,
	.img-box-two {
		margin-left: 100px;
		
	}
	
	.wrapper-two {
		clear: both;
		height: 800px;
	}
	
	.wrapper-three {
		clear: both;
		padding-top: 10px;
	}
	


	
	
	
	
	
	
	
	
	
}