@charset "UTF-8";
/* CSS Document */

body {
	background-color: #f2f2f2;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: black;
}

.wrapper {
	width: 100%;
	background-color: #f2f2f2;
}

.wrapper-two {
	width: 100%;
	background-color: white;
}

.wrapper-three {
	width: 100%;
	background-color: #f2f2f2;
}

h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 20px;
}

h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

.img {
	display: block;
	margin: 0 auto;
	width: 90%;
}

ul.navigation {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	list-style: none;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.navigation li {
	background: white;
	padding: 15px;
	margin: 12px;
}

.profile-photo {
	display: block;
	margin: 0 auto;
	width: 70%;
}

.footer {
	width: 100%;
	border-top: 1px solid #000;
}

.studentfooter {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: left;
	padding: 20px 0 20px 0;
	font-size: 12px;
}

.backfooter {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: right;
	padding: 20px 0 20px 0;
	font-size: 12px;
}

.footer-navigation {
	display: none;
}

@media screen and (min-width: 768px) {
	h1 {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: center;
		font-size: 16px;
	}
	
	ul.navigation {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		list-style: none;
	}
	
	.navigation li {
		background-color: #f2f2f2;
		padding: 0 10px 0 10px;
		display: inline;
		font-size: 13px;
	}
	
	.intro-text {
		background-color: #f2f2f2;
		padding: 0 0 0 20px;
		width: 40%;
		float: left;
		text-align: left;
	}
	
	.profile-photo {
		float: right;
		width: 50%;
		margin: 20px 20px 10px 15px;
	}
	
	.wrapper {
		background-color: #f2f2f2;
		width: 100%;
		height: 350px;
	}
	
	.wrapper-two {
		clear: both;
		background-color: white;
		height: 1125px;
	}
	
	.img-one {
		width: 44%;
		float: left;
		margin-left: 40px;
		background-color: white;
	}
	
	.img-two {
		width: 44%;
		float: right;
		margin-right: 40px;
		background-color: white;
	}
	
	.contact-info {
		margin: 0 auto;
		width: 50%;
	}
	
	.backfooter {
		display: none;
	}
	
	.studentfooter {
		padding-top: 20px;
	}
	
	ul.footer-navigation {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 12px;
		list-style: none;
		float: right;
		display: inline;
		margin-top: 0px;
		padding-top: 20px;
	}
	
	.footer-navigation li {
		display: inline;
		padding: 0 5px 0 5px;
	}
	
}